$white: #ffffff;
$main-black: #090524;
$grey: #777586;
$grey-accent: #f2f4f8;

$blue-accent: #2d2f96;

$green1: #899878;
$green1--h: #92a280;
$green1--a: #839273;

$green2: #e4e6c3;
$green2--h: #e9eac9;
$green2--a: #d7d9b7;

$black1: #222725;
$black1--h: #282e2c;
$black1--a: #181b1a;

$black2: #121113;
$black2--h: #1d1c1f;
$black2--a: #090809;
